{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<script src="{{ STATIC_URL }}js/admin.js"></script>
    <link href="{{ STATIC_URL }}css/admin.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
		$(document).ready(function () {
  			$("#tabs").find('li').removeClass("active");
			$("#admin_tab").addClass("active");
		});
	</script>
</head>

<body>

<div class="container admin">
<div class="container-fluid">
<div class="row-fluid">

<div class="span2">
<!--Sidebar content-->
	<ul class="nav nav-tabs nav-stacked" id="stacks">
	<li id="trader_stack" class="active"><a href="/traderProfile/">Trader Profile</a></li>
	<li id="firm_stack"><a href="/firmProfile/">Firm Profile</a></li>
	<li id="group_stack"><a href="/groupProfile/">Groups</a></li>
	<li id="account_stack"><a href="/accountProfile/">Accounts</a></li>
  	<li id="employer_stack"><a href="/employerProfile/">Employers</a></li>
  	<li id="system_stack"><a href="/systemProfile/">Systems</a></li>
  	<li id="route_stack"><a href="/routeDetail/">Routes</a></li>
  	<li id="futureFeeGroup_stack"><a href="/futureFeeGroupProfile/">FutureFeeGroups</a></li>
  	<li id="futureFeeRate_stack"><a href="/futureFeeRateProfile/">FutureFeeRates</a></li>
  	<li id="futureMultiplier_stack"><a href="/futureMultiplierProfile/">FutureMultipliers</a></li>
  	<li id="log_stack"><a href="/log/">Log</a></li>
	</ul>
</div>


<div class="span10">
<!--Body content-->
<div class="hero-unit admin_container">

{% block admin_content %}
	
{% endblock admin_content %}


</div>
</div>
</div>
</div>
</div>

</body>
</html>

{% endblock %}