{% extends "admin_base.html" %}

{% block admin_content %}

<script type="text/javascript">
	$(document).ready(function () {
  			$("#stacks").find('li').removeClass("active");
			$("#firm_stack").addClass("active");
	});
</script>

<div style="float:left;width:350px;margin:0px;padding:0px;">
<div id="firm_info">
	<form method='post'  action='/modFirm/'>
		{% csrf_token %}
		<input name='pk' id='pk' style='display: none;' type='text' value={{ firm.pk }}>
		
		<strong>Clearance Fees</strong>
		<div class="sub_title">Equity</div>
		<div class="sub_input">
		<input name='equity' id='equity' type='text' value={{ firm.equity|floatformat:2 }} placeholder='Equity'>
		</div>
		
		<div class="sub_title">DVP</div>
		<div class="sub_input">
		<input name='DVP' id='DVP' type='text'value={{ firm.DVP|floatformat:2 }} placeholder='DVP'>
		</div>
		
		<div class="sub_title">Options</div>
		<div class="sub_input">
		<input name='options' id='options' type='text' value={{ firm.options|floatformat:2 }} placeholder='Options'>
		</div>

		<div class="sub_title">H2B</div>
		<div class="sub_input">
		<input name='H2B' id='H2B' type='text' value={{ firm.H2B|floatformat:2 }} placeholder='H2B'>
		</div>

		<div style="margin-top:10px"><strong>Sec Fee</strong></div>
		<div class="sub_title">
		<input name='secFee' id='secFee' type='text' value={{ firm.secFee|floatformat:8 }} placeholder='Sec Fee'>
		</div>
		
		<div><strong>Rent</strong></div>
		<div class="sub_title">
		<input name='rent' id='rent' type='text'  value={{ firm.rent|floatformat:2 }} placeholder='Rent'>
		</div>

		<div><Strong>Technology</strong></div>
		<div class="sub_title">
		<input name='technology' id='technology' type='text'value='{{ firm.technology }}' placeholder='Technology'>
		</div>

		<div class="sub_title">
		<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_firm(this)'>
		</div>
	</form>
</div>

</div>


<div style="float:right;width:400px;margin:0px;padding:0px" >
<strong>Brokers</strong>
<div id="filter" style="padding-bottom:20px;margin-top:10px;">
  	<select  id="brokers" size = "1" onchange="selectBroker(this.value)">
  		<option value="default">--- Select Broker ---</option>
  		<option value="add">Add a Broker</option>
        {% for broker in broker_list %}
			<option value="{{ broker.pk }}">{{ broker.brokerNumber }} {{broker.securityType}}</option>
		{% endfor %}
    </select>
</div> 



<div id="mod_broker" style="display: none;">
	<form method='post' action='/modBroker/'>
		{% csrf_token %}
		<input name='mod_pk' id='mod_pk' style='display: none;' type='text'>
		
		<div class="control-group">
    		<label class="control-label" for="mod_name">Broker Number</label>
    		<div class="controls">
				<input name='mod_name' id='mod_name' type='text' class='span4' placeholder='Broker Number'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_type">Security Type</label>
    		<div class="controls">
				<input name='mod_type' id='mod_type' type='text' class='span4' placeholder='Security Type'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_commission">Commission Rate</label>
    		<div class="controls">
				<input name='mod_commission' id='mod_commission' type='text' class='span4' placeholder='Commission Rate'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_mod_broker(this)'>
				<input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_broker()'>
			</div>
		</div>
	</form>
</div>

<div id="add_broker" style="display: none;">
	<form method='post' action='/addBroker/' onsubmit='return validate_add_broker(this)'>
		{% csrf_token %}
		<div class="control-group">
    		<label class="control-label" for="add_name">Broker Number</label>
    		<div class="controls">
				<input name='add_name' id='add_name' type='text' class='span4' placeholder='Broker Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_type">Security Type</label>
    		<div class="controls">
				<input name='add_type' id='add_type' type='text' class='span4' placeholder='Security Type'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_commission">Commission Rate</label>
    		<div class="controls">
				<input name='add_commission' id='add_commission' type='text' class='span4' placeholder='Commission'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' class='btn btn-success' value='Add'>
			</div>
		</div>
	</form>
</div>
</div>

<div style="clear:both;"></div>


{% endblock %}