{% extends "admin_base.html" %}

{% block admin_content %}

<script type="text/javascript">
	$(document).ready(function () {
  			$("#stacks").find('li').removeClass("active");
			$("#firm_stack").addClass("active");
	});
</script>


<div id="firm_info">
	<form method='post' class='form-horizontal' action='/modFirm/'>
		{% csrf_token %}
		<input name='pk' id='pk' style='display: none;' type='text' value={{ firm.pk }}>
		
		<div class="control-group">
    		<label class="control-label"><strong>Clearance Fees</strong></label>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="equity">Equity</label>
    		<div class="controls">
				<input name='equity' id='equity' type='text' class='span4' value={{ firm.equity|floatformat:2 }} placeholder='Equity'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="DVP">DVP</label>
    		<div class="controls">
				<input name='DVP' id='DVP' type='text' class='span4' value={{ firm.DVP|floatformat:2 }} placeholder='DVP'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="options">Options</label>
    		<div class="controls">
				<input name='options' id='options' type='text' class='span4' value={{ firm.options|floatformat:2 }} placeholder='Options'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="H2B">H2B</label>
    		<div class="controls">
				<input name='H2B' id='H2B' type='text' class='span4' value={{ firm.H2B|floatformat:2 }} placeholder='H2B'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="secFee"><strong>Sec Fee</strong></label>
    		<div class="controls">
				<input name='secFee' id='secFee' type='text' class='span4' value={{ firm.secFee|floatformat:2 }} placeholder='Sec Fee'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="rent"><strong>Rent</strong></label>
    		<div class="controls">
				<input name='rent' id='rent' type='text' class='span4' value={{ firm.rent|floatformat:2 }} placeholder='Rent'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="technology"><strong>Technology</strong></label>
    		<div class="controls">
				<input name='technology' id='technology' type='text' class='span4' value='{{ firm.technology }}' placeholder='Technology'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_firm(this)'>
			</div>
		</div>
	</form>
<div>

<div id="filter" style="padding-bottom:20px;">
  	<select class="span3" id="brokers" size = "1" onchange="selectBroker(this.value)">
  		<option value="default">--- Select Broker ---</option>
  		<option value="add">Add a Broker</option>
        {% for broker in broker_list %}
			<option value="{{ broker.pk }}">{{ broker.name }}</option>
		{% endfor %}
    </select>
</div> 



<div id="mod_broker" style="display: none;">
	<form method='post' class='form-horizontal' action='/modBroker/'>
		{% csrf_token %}
		<input name='mod_pk' id='mod_pk' style='display: none;' type='text'>
		
		<div class="control-group">
    		<label class="control-label" for="mod_name">Broker Name</label>
    		<div class="controls">
				<input name='mod_name' id='mod_name' type='text' class='span4' placeholder='Broker Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_commission">Commission</label>
    		<div class="controls">
				<input name='mod_commission' id='mod_commission' type='text' class='span4' placeholder='Commission'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_mod_broker(this)'>
				<input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_broker()'>
			</div>
		</div>
	</form>
</div>

<div id="add_broker" style="display: none;">
	<form method='post' class='form-horizontal' action='/addBroker/' onsubmit='return validate_add_broker(this)'>
		{% csrf_token %}
		<div class="control-group">
    		<label class="control-label" for="add_name">Broker Name</label>
    		<div class="controls">
				<input name='add_name' id='add_name' type='text' class='span4' placeholder='Broker Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_commission">Comission</label>
    		<div class="controls">
				<input name='add_commission' id='add_commission' type='text' class='span4' placeholder='Commission'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' class='btn btn-success' value='Add'>
			</div>
		</div>
	</form>
</div>


{% endblock %}