{% extends "admin_base.html" %}

{% block admin_content %}

<script type="text/javascript">
	$(document).ready(function () {
  			$("#pills").find('li').removeClass("active");
			$("#firm_pill").addClass("active");
	});
</script>


<div id="filter" style="padding-bottom:20px;">
  	<select class="span3" id="brokers" size = "1" onchange="selectBroker(this.value)">
  		<option value="default">--- Select Broker ---</option>
  		<option value="add">Add a Broker</option>
        {% for broker in broker_list %}
			<option value="{{ broker.pk }}">{{ broker.name }}</option>
		{% endfor %}
    </select>
</div> 



<div id="mod_broker" style="display: none;">
	<form method='post' class='form-horizontal' action='/modBroker/'>
		{% csrf_token %}
		<input name='mod_pk' id='mod_pk' style='display: none;' type='text'>
		
		<div class="control-group">
    		<label class="control-label" for="mod_name">Broker Name</label>
    		<div class="controls">
				<input name='mod_name' id='mod_name' type='text' class='span4' placeholder='Broker Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_commission">Comission</label>
    		<div class="controls">
				<input name='mod_commission' id='mod_commission' type='text' class='span4' placeholder='Commission'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_mod_broker(this)'>
				<input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_broker()'>
			</div>
		</div>
	</form>
</div>

<div id="add_broker" style="display: none;">
	<form method='post' class='form-horizontal' action='/addBroker/' onsubmit='return validate_add_broker(this)'>
		{% csrf_token %}
		<div class="control-group">
    		<label class="control-label" for="add_name">Broker Name</label>
    		<div class="controls">
				<input name='add_name' id='add_name' type='text' class='span4' placeholder='Broker Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_commission">Comission</label>
    		<div class="controls">
				<input name='add_commission' id='add_commission' type='text' class='span4' placeholder='Commission'>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' class='btn btn-success' value='Add'>
			</div>
		</div>
	</form>
</div>


{% endblock %}