{% extends "admin_base.html" %}

{% block admin_content %}


<script type="text/javascript">
	$(document).ready(function () {
  			$("#stacks").find('li').removeClass("active");
			$("#futureFeeGroup_stack").addClass("active");
	});
</script>

<div id="group_list">
<table class="table group_table table-bordered">
    <tr><th>Future Symbol</th><th>Account</th><th>Group</th><th>Operation</th></tr>
   	
   	<form method='post' action='/modFeeGroup/' onsubmit='return validate_feeGroup(this)'>
	{% csrf_token %}
   	<tr>
   	<td>
	   	<div id="filter" style="padding-bottom:20px;margin-top:10px;">
	  	<select  id="symbols" name = "symbols" size = "1" style = "width:180px">
	  		<option value="">--- Select Symbol ---</option>
	        {% for symbol in symbol_list %}
				<option value="{{ symbol.symbol }}">{{ symbol.symbol }}</option>
			{% endfor %}
	    </select>
		</div>
	</td>
	<td>
	   	<div id="filter" style="padding-bottom:20px;margin-top:10px;">
	  	<select  id="accounts" name = "accounts" size = "1" style = "width:180px">
	  		<option value="">--- Select Account ---</option>
	        {% for account in account_list %}
				<option value="{{ account.account }}">{{ account.account }}</option>
			{% endfor %}
	    </select>
		</div>
	</td>
	<td>
	   	<div id="filter" style="padding-bottom:20px;margin-top:10px;">
	  	<select  id="groups" name = "groups" size = "1" style = "width:180px">
	  		<option value="">--- Select Group ---</option>
	        {% for group in group_list %}
				<option value="{{ group.name }}">{{ group.name }}</option>
			{% endfor %}
	    </select>
		</div>
	</td>
   	<td>
   		<input type='submit' name="save" class='btn btn-info' value='Save'>
		<input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_feeGroup()'>
   	</td>
   	</tr>
   	</form>
   	
   	{% for tuple in feeGroup_list %}
		{% csrf_token %}
    	<tr>
    	<td>{{ tuple.symbol }}</td>
    	<td>{{ tuple.account }}</td>
    	<td>{{ tuple.group }}</td>
    	<td></td>
    	</tr>
    {% endfor %}
</table>
<div>

{% endblock %}