{% extends "admin_base.html" %}

{% block admin_content %}


<script type="text/javascript">
	$(document).ready(function () {
  			$("#stacks").find('li').removeClass("active");
			$("#futureFeeGroup_stack").addClass("active");
	});
</script>

<!-- <input id="csrf" type="hidden" value="{% csrf_token %}"/> -->

<div id="group_list">
<table class="table group_table table-bordered">
    <tr><th>Future Symbol</th><th>Account</th><th>Group</th><th>Operation</th></tr>
   	
   	<form method='post' action='/modFeeGroup/' onsubmit='return validate_feeGroup(this)'>
	<!-- {% csrf_token %} -->
   	<tr>
   	<td>
	  	<select  id="symbols" name = "symbols" size = "1" style = "padding-bottom:20px;margin-top:10px;width:180px" onchange="selectFeeGroup()">
	  		<option value="default">--- Select Symbol ---</option>
	        {% for symbol in symbol_list %}
				<option value="{{ symbol.symbol }}">{{ symbol.symbol }}</option>
			{% endfor %}
	    </select>
	</td>
	<td>
	  	<select  id="accounts" name = "accounts" size = "1" style = "padding-bottom:20px;margin-top:10px;width:180px" onchange="selectFeeGroup()">
	  		<option value="default">--- Select Account ---</option>
	        {% for account in account_list %}
				<option value="{{ account.account }}">{{ account.account }}</option>
			{% endfor %}
	    </select>
	</td>
	<td>
	  	<select  id="groups" name = "groups" size = "1" style = "padding-bottom:20px;margin-top:10px;width:180px" onchange="selectFeeGroup()">
	  		<option value="default">--- Select Group ---</option>
	        {% for group in group_list %}
				<option value="{{ group.name }}">{{ group.name }}</option>
			{% endfor %}
	    </select>
	</td>
   	<td>
   		<input type='submit' id='add' name="add" class='btn btn-success' value='Add'>
		<!-- <input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_feeGroup()'> -->
   	</td>
   	</tr>
   	</form>
</table>
   	
 	<div id="feegroup_container" class="feegroup_container"> 	
 	</div>   	

<div>

{% endblock %}