{% extends "admin_base.html" %}

{% block admin_content %}


<script type="text/javascript">
	$(document).ready(function () {
  			$("#pills").find('li').removeClass("active");
			$("#trader_pill").addClass("active");
	});
</script>


<div id="filter" style="padding-bottom:20px;">
  	<select class="span3" id="traders" size = "1" onchange="selectTrader(this.value)">
  		<option value="default">--- Select Trader ---</option>
  		<option value="add">Add a Trader</option>
        {% for trader in trader_list %}
			<option value="{{ trader.pk }}">{{ trader.name }}</option>
		{% endfor %}
    </select>
</div> 



<div id="mod_trader" style="display: none;">
	<form method='post' class='form-horizontal' action='/modTrader/'>
		{% csrf_token %}
		<input name='mod_pk' id='mod_pk' style='display: none;' type='text'>
		
		<div class="control-group">
    		<label class="control-label" for="mod_name">Trader Name</label>
    		<div class="controls">
				<input name='mod_name' id='mod_name' type='text' class='span4' placeholder='Trader Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_ssn">SSN</label>
    		<div class="controls">
				<input name='mod_ssn' id='mod_ssn' type='text' class='span4' placeholder='SSN'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_addr">Address</label>
    		<div class="controls">
				<input name='mod_addr' id='mod_addr' type='text' class='span4' placeholder='Address'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_phone">Phone Number</label>
    		<div class="controls">
				<input name='mod_phone' id='mod_phone' type='text' class='span4' placeholder='Phone Number'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_email">E-mail</label>
    		<div class="controls">
				<input name='mod_email' id='mod_email' type='text' class='span4' placeholder='E-mail'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_username">Username</label>
    		<div class="controls">
				<input name='mod_username' id='mod_username' type='text' class='span4' placeholder='Username'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_password">Password</label>
    		<div class="controls">
				<input name='mod_password' id='mod_password' type='text' class='span4' placeholder='Password'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_cfee">Clearance Fee</label>
    		<div class="controls">
				<input name='mod_cfee' id='mod_cfee' type='text' class='span4' placeholder='Clearance Fee'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_bfee">Broker Fee</label>
    		<div class="controls">
				<input name='mod_bfee' id='mod_bfee' type='text' class='span4' placeholder='Broker Fee'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="mod_systems">Systems</label>
    		
    		<div class="controls">
    			<div class="system_list">
    			</div>
    			<a href="#systemBox" class="btn btn-small btn-primary" data-toggle="modal">Open System List</a>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' name="save" class='btn btn-info' value='Save' onclick='return validate_mod_trader(this)'>
				<input type='submit' name="delete" class='btn btn-danger' value='Delete' onclick='return confirm_delete_trader()'>
			</div>
		</div>
	</form>
</div>

<div id="add_trader" style="display: none;">
	<form method='post' class='form-horizontal' action='/addTrader/' onsubmit='return validate_add_trader(this)'>
		{% csrf_token %}
		<div class="control-group">
    		<label class="control-label" for="add_name">Trader Name</label>
    		<div class="controls">
				<input name='add_name' id='add_name' type='text' class='span4' placeholder='Trader Name'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_ssn">SSN</label>
    		<div class="controls">
				<input name='add_ssn' id='add_ssn' type='text' class='span4' placeholder='SSN'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_addr">Address</label>
    		<div class="controls">
				<input name='add_addr' id='add_addr' type='text' class='span4' placeholder='Address'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_phone">Phone Number</label>
    		<div class="controls">
				<input name='add_phone' id='add_phone' type='text' class='span4' placeholder='Phone Number'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_email">E-mail</label>
    		<div class="controls">
				<input name='add_email' id='add_email' type='text' class='span4' placeholder='E-mail'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_username">Username</label>
    		<div class="controls">
				<input name='add_username' id='add_username' type='text' class='span4' placeholder='Username'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_password">Password</label>
    		<div class="controls">
				<input name='add_password' id='add_password' type='text' class='span4' placeholder='Password'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_cfee">Clearance Fee</label>
    		<div class="controls">
				<input name='add_cfee' id='add_cfee' type='text' class='span4' placeholder='Clearance Fee'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_bfee">Broker Fee</label>
    		<div class="controls">
				<input name='add_bfee' id='add_bfee' type='text' class='span4' placeholder='Broker Fee'>
			</div>
		</div>
		
		<div class="control-group">
    		<label class="control-label" for="add_systems">Systems</label>
    		
    		<div class="controls">
    			<div class="system_list">
    			</div>
    			<a href="#systemBox" class="btn btn-small btn-primary" data-toggle="modal">Open System List</a>
			</div>
		</div>
		
		<div class="control-group">
    		<div class="controls">
				<input type='submit' class='btn btn-success' value='Add'>
			</div>
		</div>
	</form>
</div>


<div id="systemBox" class="modal hide fade" style="display:none;width:600px" data-backdrop="static" data-keyboard="false" >
   	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<h3>System List</h3>
  	</div>  	
			
	<div class="modal-body" align="center">
    	<table class="table system_table table-bordered">
    		<tr><th>Check</th><th>Type</th><th>Cost</th></tr>
    		{% for system in system_list %}
    			<tr>
    				<td><input type="checkbox" name="system" value="{{ system.pk }}" id="system{{ system.pk }}"></td>
    				<td><span id="type{{ system.pk }}">{{ system.name }}</span></td>
    				<td><span id="cost{{ system.pk }}">{{ system.cost }}</span></td>
    			</tr>
    		{% endfor %}
    	</table>
  	</div>
  	
  	<div class="modal-footer">
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    	<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" onclick="getSystem()">OK</button>
  	</div>
</div>

{% endblock %}