{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    
<div class="container">
<div id="filter">
	<table>
	<tr>
    <td>
    <select class="span3" id="options" size = "1" onchange="#">
	       <option value="today"> Today
    </select>
    </td>
    </tr>
    </table>
</div>

<div id="upload">
	<table><tr>
	<form enctype="multipart/form-data" method="post" action="/upload/">
	    {% csrf_token %}
		<td><font size=3>Upload a CSV file:  </font></td>
      	<td><input type='file' name='content' /></td>
      	<td><input type='submit' value='Upload'/></td>
	</form>
	</tr></table>
</div>

<div class="hero-unit" style="margin-top:10px">

<!-- trades list  -->
<div id="trades_container">
	<table class="table table-striped" style="margin-top:10px">
		<tr>
		<th>Account</th>
		<th>Symbol</th>
		<th>Side</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Broker</th>
		<th>Date</th>
		<th>Exchange</th>
		<th>Execution ID</th>
		</tr>
	{% for trade in trade_list %}
		<tr>
        <td>{{ trade.account }}</td>
		<td>{{ trade.symbol }}</td>
		<td>{{ trade.side }}</td>
		<td>{{ trade.quantity }}</td>
		<td>{{ trade.price }}</td>
		<td>{{ trade.broker }}</td>
		<td>{{ trade.tradeDate|date:"Y-m-d" }}</td>
		<td>{{ trade.exchange }}</td>
		<td>{{ trade.executionId }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
</div>
</div>

<!--  
<div id="paginator" align="right">
	<div class="input-prepend input-append">
       <input class="btn" type="button" id="previous" value="Prev" disabled="disabled">&nbsp;<select style="width:80px" id="pages" size = "1"></select>&nbsp;<input class="btn" type="button" id="next" disabled="disabled" value="Next">
	</div>
</div>
-->

</body>
</html>

{% endblock %}