{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
	<script src="{{ STATIC_URL }}js/tradelist.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
  			$("#tabs").find('li').removeClass("active");
			$("#trade_tab").addClass("active");
		});
	</script>
</head>

<body>
    
<div class="container">
<div id="filter">
  	<input id="account" type="text" class="span2" placeholder="Account">
  	<input id="symbol" type="text" class="span2" placeholder="Symbol">
  	<input id="datefrom" type="text" class="span2" placeholder="Date From">
  	<input id="dateto" type="text" class="span2" placeholder="Date To">
  	<button class="btn btn-info" onclick="getTradeList(1);" style="float:right;">Search</button>
  	<div style="clear:both;"></div> 
</div> 
</div>

<script>
	$( "#datefrom" ).datepicker({ dateFormat: "yy-mm-dd" });
	$( "#dateto" ).datepicker({ dateFormat: "yy-mm-dd" });
</script>


<div class="hero-unit" style="background-color: #FFFFFF;padding: 20px;">
<!-- trades list  -->
<div id="trades_container" class="container">
</div>
</div>


</body>
</html>

{% endblock %}