<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Trades</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->    
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">White Bay Group</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<div class="container">

<div id="search_bar">
	<table>
	<tr>
    
    <td>
    <select class="span3" id="options" size = "1" onchange="#">
	       <option value="today"> Today
    </select>
    </td>
    
    </tr>
    </table>
</div>

<!-- trades list  -->
<!-- <div align="right"><span id="count_info"></span></div> -->
<div id="trades_container">
	<table border="1">
		<tr>
		<th>Account</th>
		<th>Symbol</th>
		<th>Side</th>
		<th>Quantity</th>
		<th>Price</th>
		<th>Broker</th>
		<th>Date</th>
		<th>Exchange</th>
		</tr>
	{% for trade in trade_list %}
		<tr>
        <td>{{ trade.account }}</td>
		<td>{{ trade.symbol }}</td>
		<td>{{ trade.side }}</td>
		<td>{{ trade.quantity }}</td>
		<td>{{ trade.price }}</td>
		<td>{{ trade.broker }}</td>
		<td>{{ trade.tradeDate|date:"Y-m-d" }}</td>
		<td>{{ trade.exchange }}</td>
		</tr>
	{% endfor %}
	</table>
</div>

<!--  
<div id="paginator" align="right">
	<div class="input-prepend input-append">
       <input class="btn" type="button" id="previous" value="Prev" disabled="disabled">&nbsp;<select style="width:80px" id="pages" size = "1"></select>&nbsp;<input class="btn" type="button" id="next" disabled="disabled" value="Next">
	</div>
</div>
-->

<div id="upload">
	<table><tr>
	<form enctype="multipart/form-data" method="post" action="/upload/">
	    {% csrf_token %}
		<td><font size=3>Upload a CSV file:  </font></td>
      	<td><input type='file' name='content' /></td>
      	<td><input type='submit' value='Upload'/></td>
	</form>
	</tr></table>
</div>

</body>
</html>