{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Settings</title>

    <style>
      .error_info {
      	 color: red;
  		 padding-left: 10px;
	  }		
    </style>
    
    <script type="text/javascript">
		$(document).ready(function () {
  			$("#tabs").find('li').removeClass("active");
			$("#admin_tab").addClass("active");
		});
	</script>
    
	<script type="text/javascript">
		function test(){
			alert("test");
		}
	
		function validate_required(field) {
			with (field) {
  				if (value == null || value == ""){
  					return false;
  				}
  				else {
  					return true;
  				}
  			}
  		}

		function validate_form(thisform) {
			var check = true;
			$("#message").html("");
			with (thisform) {
				if (validate_required(oldpassword) == false) {
					$("#message").html("Please enter your old password.");
					oldpassword.focus();
					return false;
				} else {
					$("#message").html("");
				}
				if (validate_required(newpassword) == false) {
					$("#message").html("Please enter your new password.");
					newpassword.focus();
					return false;
				} else {
					$("#message").html("");
				}
				if (validate_required(renewpassword) == false)	{
					$("#message").html("Please confirm your new password.");
					renewpassword.focus();
					return false;
				} else {
					$("#message").html("");
				}
				return true;
			}	
		}	

		</script>
</head>

<body>
	<div class="container">
      <div class="hero-unit">
      	<div align="center">
      	    <div>
      		<table>
      			<tr><h2>Change Password</h2></tr>
      		</table>		
      		</div>
      		<p><font color="#FF0000"><span id="message" style="font-size:14px;">{{ message }}</span></font></p>
        	<form method="post" action="." onsubmit = "return validate_form(this)"> 
        		{% csrf_token %}
        		<table>
				<tr>
					<td>Old-Password: </td><td><input type="password" name="oldpassword" id="oldpassword" /></td>
				</tr>
				<tr>
					<td>New-Password:</td><td><input type="password" name="newpassword" id="newpassword" /></td>
				</tr>
				<tr>
					<td>Confirm New-Password:</td><td><input type="password" name="renewpassword" id="renewpassword" /></td>
				</tr>
				<tr>
            		<td></td><td align="right"><input type="submit" class="btn btn-success" value="Save"></td>
         		</tr>
         		</table>
			</form>
		</div>
      </div>
    </div> <!-- /container -->

</body>
</html>
{% endblock content %}
