{% extends "base.html" %}

{% block content %}
<html>
<head> 
<title>Settings</title>

    <style>
      .error_info {
      	 color: red;
  		 padding-left: 10px;
	  }		
    </style>
    
    <script src="{{ STATIC_URL }}js/userprofile.js"></script>
    <script type="text/javascript">
		$(document).ready(function () {
  			$("#tabs").find('li').removeClass("active");
			$("#admin_tab").addClass("active");
		});
	</script>
    
	<script type="text/javascript">
		function test(){
			alert("test");
		}
	
		function validate_required(field) {
			with (field) {
  				if (value == null || value == ""){
  					return false;
  				}
  				else {
  					return true;
  				}
  			}
  		}

		function validate_form(thisform) {
			var check = true;
			$("#message").html("");
			with (thisform) {
				return true;
			}	
		}	

		</script>
</head>

<body onload="selectUserProfile({{ userProfile.pk }})">
	<div class="container">
      <div class="hero-unit">
      	    <div align="center">
      		<table>
      			<tr><h2>Settings</h2></tr>
      		</table>		
      		<p><font color="#FF0000"><span id="message" style="font-size:18px;">{{ message }}</span></font></p>
      		</div>
      		
      		<form class='form-horizontal'>
      			<legend align="left">Security</legend>
      			<div class="control-group">
      				<label class="control-label" for="mod_password">Security-Setting</label>
        			<div class="controls">
        				<a class="btn btn-info" href="/settings/changePassword/">Change Password</a>
        			</div>
      			</div>
      		</form>

			<form method='post' class='form-horizontal' action='.'>
				<legend align="left">Profile</legend>
				{% csrf_token %}
				
				<div class="control-group">
		    		<label class="control-label" for="mod_fisrtname">First Name</label>
		    		<div class="controls">
						<input name='firstname' id='firstname' type='text' class='span4' placeholder='First Name'>
					</div>
				</div>
				
				<div class="control-group">
		    		<label class="control-label" for="mod_lastname">Last Name</label>
		    		<div class="controls">
						<input name='lastname' id='lastname' type='text' class='span4' placeholder='Last Name'>
					</div>
				</div>
				
				<div class="control-group">
		    		<label class="control-label" for="mod_addr">Address</label>
		    		<div class="controls">
						<input name='addr' id='addr' type='text' class='span4' placeholder='Address'>
					</div>
				</div>
				
				<div class="control-group">
		    		<label class="control-label" for="mod_phone">Phone Number</label>
		    		<div class="controls">
						<input name='phone' id='phone' type='text' class='span4' placeholder='Phone Number'>
					</div>
				</div>
				
				<div class="control-group">
		    		<label class="control-label" for="mod_description">Description</label>
		    		<div class="controls">
						<textarea rows="3" cols="30" name='description' id='description' type='text' class='span4' placeholder="Description"></textarea>
					</div>
				</div>
				
				<div class="control-group">
		    		<div class="controls">
						<input type='submit' name="save" class='btn btn-success' value='Save' onclick='return validate_form(this)'>
					</div>
				</div>
			</form>

      </div>
    </div> <!-- /container -->

</body>
</html>
{% endblock content %}
